---
---

@import "{{ site.theme }}";
.nav-links {
    float: right; /* Align links to the right */
}

.nav-links li {
    display: inline-block; /* Display links horizontally */
    margin-left: 20px; /* Add some space between links */
}

.nav-links li a {
    font-family: Arial, sans-serif; /* Set font family */
    font-size: 20px; /* Set font size */
    font-weight: bold; /* Set font weight */
    text-decoration: none; /* Remove underline */
    color: #FFFFFF; /* Set text color */
}

.nav-links li a:hover {
    color: #ff0090; /* Change text color on hover */
}

/* Add this CSS to your existing CSS file */
.home-icon {
    position: absolute;
    left: 100px;
    top: 150px; /* Adjust the top position if needed */
    width: 40px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Add the new CSS rules */
.profile-picture {
    position: absolute;
    left: 180px;
    top: 350px; /* Adjust the top position if needed */
    width: 300px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Optional: Add additional styles for the text */
/* Adjust the styles according to your design preferences */

.profile-text {
    margin-left: 0; /* Remove default margin */
}

.social-media-git-icon {
    position: absolute;
    left: 180px;
    top: 400px; /* Adjust top position to align with the profile picture */
    width: 40px; /* Set width for all icons */
    height: auto; /* Maintain aspect ratio */
}

.social-media-linkedin-icon {
    position: absolute;
    left: 190px;
    top: 400px; /* Adjust top position to align with the profile picture */
    width: 40px; /* Set width for all icons */
    height: auto; /* Maintain aspect ratio */
}

.social-media-scholar-icon {
    position: absolute;
    left: 200px;
    top: 400px; /* Adjust top position to align with the profile picture */
    width: 40px; /* Set width for all icons */
    height: auto; /* Maintain aspect ratio */
}

.social-media-ssrn-icon {
    position: absolute;
    left: 210px;
    top: 400px; /* Adjust top position to align with the profile picture */
    width: 40px; /* Set width for all icons */
    height: auto; /* Maintain aspect ratio */
}
